---
layout: default
title: Symfttpd
---

<div class="row-fluid">
    {% if site.posts.size == 0 %}
        <div class="span12 text-center">
            New post to be publish soon, stay tuned :)
        </div>
    {% endif %}

    {% for post in site.posts %}
        {% if forloop.first %}
            <div class="clearfix span12 first-post-line">
        {% else %}
            {% cycle '<div class="row-fluid posts-line">', '' %}
            <div class="span6">
        {% endif %}
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <div><i class="icon-time"></i> {{ post.date | date_to_string }}</div>
            <p>{{ post.content | truncate:200 }}</p>
            <a href="{{ site.url }}{{ post.url }}">Read</a>
        </div>
        {% cycle '</div>', '' %}
    {% endfor %}
</div>